<html>
    <head>
        <title>Shoe Stores</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        {#<div class="container">#}
            <div id="main-title" class="jumbotron">
                <h1>Shoe Store Sortie</h1>
            </div>
            <div id="brand-button" class="jumbotron">
                <a id="portal-fork" href="/brands" class="btn btn-flat btn-primary">Shop by Brand</a>
            </div>
            <div id="store-button" class="jumbotron">
                <a id="portal-fork" href="/stores" class="btn btn-flat btn-primary">Shop by Store</a>
            </div>
        {#</div>#}
    </body>
</html>
