<html>
    <head>
        <title>Shoe Stores</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="jumbotron">
            {% if stores is not empty %}
                <h1>Here are the available stores:</h1>
                <ul>
                    {% for store in stores %}
                        <form action="/stores/{{ store.getId }}">
                            <button type="submit" class="btn btn-flat btn-primary">{{ store.getName }}</button>
                        </form>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>There are no stores entered</h1>
            {% endif %}
            <form action="/">
                <button type="submit" class="btn btn-flat btn-default">Back</button>
            </form>
            <form action="/">
                <button type="submit" class="btn btn-flat btn-default">Home</button>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <form action="/stores" method="post">
                        <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Name:" name ="name">
                        <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Location:" name ="location">
                        <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Hours:" name ="hours">
                        <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Phone:" name ="phone">
                        <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Website:" name ="website">
                        <button type="submit" class="btn btn-flat btn-success">Add Store</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <form action="/delete_stores" method="post">
                        <button type="submit" class="btn btn-flat btn-danger">Clear Stores</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
