#brand-button {
    position: relative;
    left: 30%;
    right: 50%;
    top: 10%;
    width: 35%;
    text-align: center;
}

#store-button {
    position: relative;
    left: 30%;
    right: 50%;
    top: 10%;
    width: 35%;
    text-align: center;
}


#main-title {
    position: relative;
    left: 30%;
    right: 50%;
    top: 10%;
    width: 35%;
    text-align: center;
}

.panel-body{
    position: relative;
    left: 5%;
}
